@charset "UTF-8";
/* BASE */
@-webkit-keyframes showMenu {
  from {
    left: -242px;
  }
  to {
    left: 0;
  }
}
@keyframes showMenu {
  from {
    left: -242px;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes hideMenu {
  from {
    left: 0;
  }
  to {
    left: -242px;
  }
}
@keyframes hideMenu {
  from {
    left: 0;
  }
  to {
    left: -242px;
  }
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*FONTS*/
/*FONTS*/
/*COLORS*/
/*COLORS*/
/*MEDIA*/
/*MEDIA*/
body {
  font-family: "Montserrat", serif;
  color: #fff;
  font-size: 16px;
}

a {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.none {
  display: none !important;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 14px 39px;
  height: 48px;
  border-radius: 4px;
  background: #386DF4;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.button:hover, .button:focus {
  -webkit-box-shadow: 0 0 20px #386DF4;
          box-shadow: 0 0 20px #386DF4;
}

.h1White {
  font-family: "Play", serif;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  line-height: 110%;
}
@media screen and (max-width: 768px) {
  .h1White {
    font-size: 28px;
    line-height: 110%;
  }
}
@media screen and (max-width: 660px) {
  .h1White {
    font-size: 24px;
    line-height: 120%;
  }
}

.h1Dark {
  font-family: "Play", serif;
  font-size: 48px;
  font-weight: 700;
  color: #333;
}
@media screen and (max-width: 768px) {
  .h1Dark {
    font-size: 28px;
  }
}
@media screen and (max-width: 660px) {
  .h1Dark {
    font-size: 24px;
  }
}

.pSecondaryColor {
  line-height: 140%;
  font-weight: 500;
  font-size: 18px;
  color: #282828;
  opacity: 0.7;
}

.footer__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 130%;
}

.hideYScroll {
  overflow-y: hidden;
}

/* BASE */
/* BLOCKS */
.header {
  position: relative;
  /* height: 748px; */
  background-image: url(/content/header/background.jpg);
  padding-top: 16px;
  padding-bottom: 16px;
}
.header .header__row__menu {
  position: absolute;
  left: -242px;
  top: 0;
  width: 242px;
  height: 690px;
  z-index: 4;
  border: 1px solid black;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}
.header .header__row__menu--active {
  -webkit-animation: showMenu 0.8s forwards;
          animation: showMenu 0.8s forwards;
}
.header .header__row__menu--hide {
  -webkit-animation: hideMenu 0.8s forwards;
          animation: hideMenu 0.8s forwards;
}
.header .header__row__menu--close {
  margin-left: auto;
}
.header .header__row__menu--close img {
  width: 13px;
}
.header .header__row__menu--nav {
  font-size: 20px;
  font-weight: 800;
  line-height: 110%;
  color: #333;
}
.header .header__row__menu--nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.header .header__row__menu--phone {
  font-weight: 500;
  line-height: 110%;
  color: #386DF4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__row__menu--phone img {
  width: 36px;
}

.header__row--phone {
  display: none;
}
.header__row--phone img {
  width: 23px;
}
@media screen and (max-width: 660px) {
  .header__row--phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__row--desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .header__row--desktop {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 660px) {
  .header__row--desktop {
    display: none;
  }
}

.header__row__nav {
  font-weight: 500;
  margin-left: auto;
}
.header__row__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 39px;
     -moz-column-gap: 39px;
          column-gap: 39px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__row__nav li {
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.header__row__nav li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .header__row__nav {
    margin-left: unset;
    font-weight: 400;
    font-size: 14px;
  }
}

.header__row__button {
  margin-left: 73px;
  padding: 8px 30px;
  border: 1px solid #5C17CD;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.header__row__button:hover {
  background-color: #5C17CD;
  -webkit-box-shadow: 0 0 20px #5C17CD;
          box-shadow: 0 0 20px #5C17CD;
}
@media screen and (max-width: 768px) {
  .header__row__button {
    margin-left: unset;
  }
}

.header__content {
  margin-top: 80px;
}

.header__slide__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content__info {
  max-width: 551px;
}
.header__content__info button {
  margin-left: auto;
}

.header__content__title {
  margin-bottom: 77px;
}

.header__content__wrapper {
  width: 393px;
}

.header__content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 39px;
     -moz-column-gap: 39px;
          column-gap: 39px;
}

.header__content__pseudo {
  position: relative;
  width: 118px;
  text-align: right;
}
.header__content__pseudo::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 8px;
  width: 50px;
  height: 1px;
  background-color: #fff;
}

.header__content__subtitle {
  width: 240px;
  margin-bottom: 33px;
}

.header__slider-container {
  position: relative;
  height: 600px;
}

.header__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__slider img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__slide__row {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
      grid-template-areas: "title title img img" "pseudo subtitle img img" "pseudo button img img";
}
@media screen and (max-width: 660px) {
  .header__slide__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    row-gap: 10px;
  }
  .header__slide__row img {
    margin: 0 auto;
  }
}
.header__slide__row h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
  position: relative;
}
.header__slide__row h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 65px;
  height: 1px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .header__slide__row h1::after {
    width: 0;
    height: 0;
  }
}
.header__slide__row p {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: subtitle;
  font-size: 16px;
  color: #fff;
  line-height: 130%;
  max-width: 240px;
  margin-left: auto;
}
.header__slide__row span {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  text-align: end;
  grid-area: pseudo;
}
@media screen and (max-width: 768px) {
  .header__slide__row span {
    display: none;
  }
}
.header__slide__row button {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: button;
  margin-left: auto;
  margin-top: auto;
  width: 240px;
}
.header__slide__row img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: img;
}

.header__slider__buttons {
  position: absolute;
  bottom: 65px;
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.services {
  margin-top: 120px;
}

.container__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.services__title {
  max-width: 442px;
}

.services__subtitle {
  max-width: 646px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: #384E85;
  margin-left: auto;
}

.services__cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px;
}

.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 45px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-transition: background-color 0.2s linear, -webkit-transform 0.2s linear;
  transition: background-color 0.2s linear, -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, background-color 0.2s linear;
  transition: transform 0.2s linear, background-color 0.2s linear, -webkit-transform 0.2s linear;
}
.services__card img {
  margin: 0 auto;
  margin-bottom: 30px;
}
.services__card h4 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}
.services__card p {
  color: #384E85;
  font-weight: 500;
  line-height: 150%;
}
.services__card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #386DF4;
}
.services__card:hover h4 {
  color: #fff;
}
.services__card:hover p {
  color: #e7e7e7;
}

@media screen and (max-width: 768px) {
  .services__card img {
    width: 160px;
  }
  .services__card h4 {
    font-size: 18px;
  }
  .services__title {
    font-size: 28px;
  }
  .services__subtitle {
    display: none;
  }
}
@media screen and (max-width: 660px) {
  img {
    width: 120px;
  }
}
.app {
  height: 553px;
  margin-top: 95px;
}
.app h1 {
  max-width: 687px;
}

.app__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 13px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.app__list .app__item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-size: 18px;
}
.app__list .app__item__row img {
  width: 12px;
  height: 15px;
}

.app__stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

@media screen and (max-width: 768px) {
  .app h1 {
    font-size: 28px;
    line-height: 110%;
  }
  .app__list {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .app__item__row {
    font-size: 16px;
  }
  .app__item__row img {
    width: 10px;
    height: 13px;
  }
}
@media screen and (max-width: 660px) {
  .app h1 {
    font-size: 24px;
  }
  .app__list {
    margin-top: 20px;
  }
}
.tariff {
  min-height: 733px;
  background-image: url("/content/tariff/background.jpg");
  padding: 120px 0;
}

.tariff__list {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .tariff__list {
    margin-top: 40px;
  }
}
@media screen and (max-width: 660px) {
  .tariff__list {
    margin-top: 20px;
  }
}

.tariff__item {
  border: 1px solid #fff;
  border-radius: 10px;
  opacity: 0.6;
  padding: 50px 45px;
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, transform 0.2s linear;
  transition: opacity 0.2s linear, transform 0.2s linear, -webkit-transform 0.2s linear;
}
.tariff__item h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .tariff__item h3 {
    font-size: 22px;
    line-height: 110%;
  }
}
@media screen and (max-width: 660px) {
  .tariff__item h3 {
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 18px;
  }
}
.tariff__item h1 {
  position: relative;
}
.tariff__item h1::after {
  content: "/ месяц";
  position: absolute;
  left: 133px;
  top: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}
@media screen and (max-width: 768px) {
  .tariff__item h1::after {
    left: 75px;
    top: 4px;
  }
}
.tariff__item p {
  margin-top: 21px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 150%;
}
@media screen and (max-width: 660px) {
  .tariff__item p {
    margin-top: 22px;
  }
}
.tariff__item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  opacity: 1;
  cursor: pointer;
}

.shop {
  padding-top: 120px;
  padding-bottom: 156px;
}

.shop__title {
  max-width: 432px;
}

.shop__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}

.shop__item {
  max-width: 386px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 27px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.shop__item img {
  margin: 0 auto;
  margin-bottom: 11px;
}
.shop__item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

.item__tag {
  width: 77px;
  padding: 0 8px;
  background-color: #384E85;
  border-radius: 10px;
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  margin-bottom: 23px;
}

.item__subtitle {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 10px;
}

.item__characteristic {
  line-height: 150%;
  font-weight: 500;
  font-size: 16px;
  color: #282828;
  opacity: 0.7;
  margin-bottom: 4px;
}
.item__characteristic + .item__characteristic {
  margin-bottom: 4px;
}

.footer {
  background-image: url("/content/footer/background.jpg");
  padding: 70px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media screen and (max-width: 660px) {
  .footer__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2;
    grid-template-rows: 2;
  }
  .footer__row .footer__row__contacts {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 20px;
  }
  .footer__row .footer__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.footer__row__contacts h3 {
  margin-bottom: 20px;
}
.footer__row__contacts a {
  line-height: 130%;
  color: #53ACFF;
}
.footer__row__contacts a:hover {
  color: #386DF4;
}
@media screen and (max-width: 660px) {
  .footer__row__contacts a {
    font-size: 14px;
  }
}

.number {
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 10px;
}
@media screen and (max-width: 660px) {
  .number {
    font-size: 14px;
  }
}

.app__stores--footer {
  margin-top: 19px;
}
@media screen and (max-width: 660px) {
  .app__stores--footer img {
    width: 83px;
  }
}

.copyright {
  margin-top: 33px;
  opacity: 0.2;
  font-size: 14px;
  line-height: 130%;
  max-width: 300px;
  font-family: "Roboto";
}
@media screen and (max-width: 660px) {
  .copyright {
    margin-top: 19px;
    font-size: 14px;
  }
}

.footer__row__links h3 {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .footer__row__links {
    width: 300px;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
@media screen and (max-width: 660px) {
  .footer__links {
    row-gap: 5px;
    font-size: 14px;
  }
}

.footer__link a:hover {
  color: #386DF4;
}

.footer__row__form .button {
  width: 100%;
  margin-top: 11px;
}
@media screen and (max-width: 768px) {
  .footer__row__form {
    display: none;
  }
}

.footer__title {
  margin-bottom: 17px;
}

.footer__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.footer__inputs input {
  padding: 18px 16px;
  background-color: #fff;
  border-radius: 4px;
  color: #333;
}

/* BLOCKS */