.footer__row__form {
    .button {
        width: 100%;
        margin-top: 11px;
    }

    @include mediaTablet {
        display: none;
    }
}
.footer__title {
    margin-bottom: 17px;
}

.footer__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    input {
        padding: 18px 16px;
        background-color: $colorWhite;
        border-radius: 4px;

        color: $colorDark;
    }

}
