.header__content__slider__container {
    
}

.header__slide {
    display: none;

    height: 450px;
}

.header__slide.active {
    display: block;
}

// .header__slide img {
//     max-width: 100%;
//     height: auto;
// }

// .controls {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     text-align: center;
//     margin-top: 10px;
// }

// .controls button {
//     margin: 0 5px;
//     padding: 8px 12px;
//     cursor: pointer;
// }