.header {
    position: relative;
    padding-top: 16px;

    .header__row__menu {
        position: absolute;
        left: -242px;
        top: 0;
        width: 242px;
        height: 690px;

        z-index: 4;

        background-color: $colorWhite;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;


        &--active {
            animation: showMenu 0.8s forwards;
        }

        &--hide {
            animation: hideMenu 0.8s forwards;
        }
    }

    .header__row__menu--close {
        margin-left: auto;

        img {
            width: 13px;
        }
    }

    .header__row__menu--nav {
        font-size: 20px;
        font-weight: 800;
        line-height: 110%;
        color: $colorDark;

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
    }

    .header__row__menu--phone {
        font-weight: 500;
        line-height: 110%;
        color: $colorAccent;

        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 36px;
        }
    }
}

.header__row {}

.header__row--phone {
    display: none;

    img {
        width: 23px;
    }

    @include mediaPhone {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header__row--desktop {
    display: flex;
    justify-content: end;
    align-items: center;

    @include mediaTablet {
        justify-content: space-between;
    }

    @include mediaPhone {
        display: none;
    }
}

.header__row__nav {
    font-weight: 500;
    margin-left: auto;

    ul {
        display: flex;
        column-gap: 39px;
        align-items: center;
    }

    li {
        transition: transform 0.2s linear;
    }

    li:hover {
        transform: scale(1.1);
    }

    @include mediaTablet {
        margin-left: unset;

        font-weight: 400;
        font-size: 14px;
    }
}

.header__row__button {
    margin-left: 73px;
    padding: 8px 30px;

    border: 1px solid $colorHover;
    border-radius: 4px;

    transition: background-color 0.2s linear;

    &:hover {
        background-color: $colorHover;
        box-shadow: 0 0 20px $colorHover;
    }

    @include mediaTablet {
        margin-left: unset;
    }
}