.services {
    margin-top: 120px;
}

.container__services {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.services__title {
    max-width: 442px;
}

.services__subtitle {
    max-width: 646px;

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: $colorSecondaryAccent;
    margin-left: auto;
}


.services__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
}

.services__card {
    display: flex;
    flex-direction: column;
    
    padding: 50px 45px;



    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    img {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    h4 {
        color: $colorDark;
        font-size: 20px;
        font-weight: 700;
        line-height: 120%;

        margin-bottom: 20px;
    }

    p {
        color: $colorSecondaryAccent;
        font-weight: 500;
        line-height: 150%;
    } 

    transition: transform 0.2s linear, background-color 0.2s linear;

    &:hover {
        transform: scale(1.05);
        background-color: $colorAccent;

        h4 {
            color: $colorWhite;
        }

        p {
            color: $colorWhiteSecondary;
        }
    }
}

// .services__card img {
//     max-width: 100%;/* Чтобы изображения в карточках также масштабировались под размер карточек */
// }

@include mediaTablet {
    .services__card {
        img {
            width: 160px;
        }

        h4 {
            font-size: 18px;
        }
    }

    .services__title {
        font-size: 28px;
    }

    .services__subtitle {
        display: none;;
    }
}

@include mediaPhone {
    img {
        width: 120px;
    }
}