.tariff {
    min-height: 733px;
    background-image: url('/content/tariff/background.jpg');

    padding: 120px 0;
}

.tariff__list {
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;

    @include mediaTablet {
        margin-top: 40px;
    }

    @include mediaPhone {
        margin-top: 20px;
    }
}

.tariff__item {
    border: 1px solid $colorWhite;
    border-radius: 10px;
    opacity: 0.6;
    padding: 50px 45px;

    h3 {
        font-size: 26px;
        font-weight: 700;
        line-height: 120%;

        margin-bottom: 30px;

        @include mediaTablet {
            font-size: 22px;
            line-height: 110%;
        }

        @include mediaPhone {
            font-size: 18px;
            line-height: 120%;

            margin-bottom: 18px;
        }
    }

    h1 {
        position: relative;

        &::after {
            content: "/ месяц";
            position: absolute;
            left: 133px;
            top: 10px;

            font-size: 18px;
            font-weight: 600;
            line-height: 120%;

            @include mediaTablet {
                left: 75px;
                top: 4px;
            }
        }
    }

    p {
        margin-top: 21px;
        margin-bottom: 30px;
        font-weight: 500;
        line-height: 150%;

        @include mediaPhone {
            margin-top: 22px;
        }
    }

    transition: opacity 0.2s linear, transform 0.2s linear;

    &:hover {
        transform: scale(1.02);
        opacity: 1;
        cursor: pointer;
    }
}

