/*FONTS*/

$font-main: 'Montserrat', serif;
$font-title: 'Play', serif;

/*FONTS*/

/*COLORS*/

$colorWhite: #fff;
$colorDark: #333;
$colorSecondaryDark: #282828;
$colorAccent: #386DF4;
$colorSecondaryAccent: #384E85;
$colorHover: #5C17CD;

/*COLORS*/

/*MEDIA*/

$tablet: 768px;
$phone: 660px;

/*MEDIA*/